@font-face {
  font-family: "Roboto-Thin";
  src: url("../fonts/Roboto-Thin/Roboto-Thin.eot");
  src: local("☺"), url("../fonts/Roboto-Thin/Roboto-Thin.woff") format("woff"),
  url("../fonts/Roboto-Thin/Roboto-Thin.ttf") format("truetype"),
  url("../fonts/Roboto-Thin/Roboto-Thin.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: local("☺"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
  url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"),
  url("../fonts/RobotoBold/RobotoBold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: local("☺"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
  url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"),
  url("../fonts/RobotoRegular/RobotoRegular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}