@import "reset.css";
@import "style.css";
@import "style2.css";
@import "style3.css";
@import "style5.css";
@import "fonts.css";


/*================== Почему мы ===========================*/

.padding-top-col{
	padding-top:39px !important;
}
.ab-pochemy-mi{
	text-align:center;
	//padding-top:280px;
	//background:url(../img/grey-bg.jpg) center;
	background-size:cover;
	// outline:1px solid red;
	.ab-pochemy-mi-img-box{
		margin:0 auto;
		border: 3px solid #fff;
		background: url(../img/ab-p1.png) center;
		width: 105px;
		height: 105px;
		box-shadow: 0 5px 15px rgba(255, 0, 0, 0.2);
		//box-shadow: 0 0 5px 2px rgba(122,122,122,0.5);
		border-radius:60px;
	}
	.ab-pochemy-mi-img-box2{
		background: url(../img/ab-p2.png) center;
	}
	.ab-pochemy-mi-img-box3{
		background: url(../img/ab-p3.png) center;
	}
	.ab-pochemy-mi-img-box4{
		background: url(../img/ab-p4.png) center;
	}
	.ab-pochemy-mi-img-box5{
		background: url(../img/ab-p5.png) center;
	}
	.ab-pochemy-mi-img-box6{
		background: url(../img/ab-p6.png) center;
	}
	.ab-pochemy-mi-txt{
		padding-top: 15px;
		span{
			display: block;
		}
		span:first-child{
			font-family: "RobotoBold";
		}
		span:last-child{
			font-family: "RobotoRegular";
		}
	}
	.ab-medal{
		margin-bottom: 30px;
		margin-top: 30px;
	}
	.ab-medal-bottom{
		margin-bottom: 4px !important;
	}
	.ab-pochemy-mi-title{
		text-align: center;
		padding-bottom: 15px;
		span{
			font-family: "RobotoBold";
			font-size: 25px;
		}
	}
}

/*================== Конец Почему мы ===================*/

/*================== Звонок =====================*/

.ab-zvonok{
	background: url(../img/ab-bg-zvonok.jpg) center;
	background-size:cover;
	width:100%;
	text-align:center;
	padding-top:35px;
		padding-bottom:35px;
	.ab-zvonok-title{
		font-family: "RobotoBold";
		font-size: 20px;
		color: #fff;

	}
	.vhod-bottom{
	    width: 100%;
	    display: -webkit-flex; 
	    display: flex; 
	    justify-content: space-between;
	    align-items: center;
	    //margin-bottom: 55px;
	    //padding-top:58px;
	    margin-bottom: 20px;
	    padding-top:20px;
	}

	.search-box{
	    //width: 250px;
	    margin: 0 auto;
	    //outline: 1px solid red;
	    .ab-first-input{
	    	position:relative;
	    	// display: inline-block;
	    	//outline: 1px solid red;
	    }
	    .ab-first-input:after{
			position:absolute;
			content:" ";
			background: url(../img/ab-chel.png) no-repeat left;
			width: 20px;
			height: 20px;
			top: 0;
			left: 10px;
	    }
	  //   @media all and (-webkit-min-device-pixel-ratio:0){
			// .ab-first-input:after{
			// 	position:absolute;
			// 	content:" ";
			// 	background: url(../img/ab-chel.png) no-repeat left;
			// 	width: 20px;
			// 	height: 20px;
			// 	top: -34px;
			// 	right: 94px;
		 //    }
	  //   }	
	    .ab-second-input{
	    	position:relative;
	    }
	    .ab-second-input:after{
			position:absolute;
			content:" ";
			background: url(../img/ab-tel.png) no-repeat left;
			width: 19px;
			height: 20px;
			top: 0px;
			left: 10px;
	    }
  //   @media all and (-webkit-min-device-pixel-ratio:0){
		// .ab-second-input:after{
		// 	position:absolute;
		// 	content:" ";
		// 	background: url(../img/ab-tel.png) no-repeat left;
		// 	width: 19px;
		// 	height: 20px;
		// 	top: -34px;
		// 	right: 94px;
		// }
  //   }
}
	.ab-form{
	    display: block;
	    position: relative;
	    border-radius: 5px;

	    height: 48px;
	  
	    box-sizing: border-box;
		 
		input[type="text"]{
		    width: 250px;
		    height: 49px;
		    line-height: 51px;
		    padding: 0px 40px;
		    border: none;
		    box-sizing: border-box;
		    z-index: 10;
		    top: 0;
		    left: 0;
		    font-size: 18px;
		    color: #97a3ad;
		    outline: none !important;
		    letter-spacing: .02em;
		    font-family: "RobotoRegular";
		    //max-height: 100%;
		    overflow: hidden;
		    border-radius:4px;
		}
    }
    .ab-zvonok-button{
    	padding-top:20px;
    	padding-bottom:20px;
    	text-align: center;
		.ab-button{
			display: inline-block;
			background:#FFC600;
			padding:12px 38px;
			font-family: "RobotoBold";
			font-size: 18px;
			color: #131313;
			//text-transform: uppercase;
			border-radius:5px;
		}
    }
    .ab-zvonok-tel{
		font-family: "RobotoRegular";
		font-size: 28px;
		color: #fff;
		padding:30px 0;
    }
    .ab-zvonok-tel-3{
		font-family: "RobotoRegular";
		font-size: 28px;
		color: #fff;
    }
     .ab-zvonok-tel-2{
		font-size: 22px;
		font-family: "RobotoRegular";
		color: #fff;
		//padding-right:152px;
		//padding-bottom:10px;
    }
}

.ab-zvonok2{
	background: url(../img/ab-bg2.jpg) no-repeat center;
	background-size:cover;
}

/*================== Конец Звонок =====================*/



/*================== Отзывы =====================*/

.ab-otziv{
	background:url(../img/ab-bg-3.jpg) no-repeat center;
	background-size:cover;
	padding:93px 0 98px;
	.ab-otziv-title{
		text-align: center;
		span{
			font-family: "RobotoBold";
			font-size: 28px;
		}
	}
	.ab-otziv-face-wrap{
		width: 200px;
		margin: 0 auto;
		padding-top:60px;
		.ab-face-img-wrap{
			padding-left:15px;
			.ab-face-img{
				width: 166px;
				height: 162px;
				border:0px solid #fff;
				border-radius:84px;
				box-shadow: 2px 15px 15px rgba(188, 188, 188, 0.7);
			}
		}
		.ab-face-txt{
			padding-top:20px;
			span{
				font-family: "RobotoBold";
				font-size: 24px;
				color: #31A900;
			}
		}
		.ab-face-txt-2{
			padding-left:22px;
			span{
				color: #D2A900;
			}
		}
		.ab-face-txt-3{
			padding-left:7px;
			span{
				color: #F40000;
			}
		}
		.ab-face-number{
			text-align: center;
			background:url(../img/ab-bg-num.png) no-repeat center;
			width: 127px;
			height: 40px;
			padding-top:14px;
			padding:4px 0px;
			margin-top: 7px;
			margin-left: 31px;
			position:relative;
			span{
				font-family: "Arial";
				font-weight: bold;
				font-size: 28px;
				padding-left:8px;
				letter-spacing: 16px;
			}
		}
		.ab-face-number:after{
			background:url(../img/ab-line.png) no-repeat center;
			content: "";
			position:absolute;
			width: 128px;
			height: 6px;
			top: 17px;
			right: -1px;
		}
		.ab-face-number-2{
			background:url(../img/ab-bg-num-2.png) no-repeat center !important;
			width:95px;
			height: 40px; 
			position:relative;
			margin-left:50px;
		}
		.ab-face-number-2:after{
			background:url(../img/ab-line-2.png) no-repeat center !important;
			content: "";
			position:absolute;
			width: 97px;
			height: 6px;
			right: -1px;
			top: 17px;
		}
	}
	.ab-comments-wrap{
		margin-top:32px; 
		background:#fff;
		//padding:50px 70px;
		padding:50px 15px;
		box-shadow: 0 0 5px 3px #D5D5D5;
		border-radius:5px;
		.ab-comments-txt{
			text-align: center;
			span{
				display: block;
			}
			span:first-child{
				font-family: "RobotoBold";
				font-size: 26px;
				padding-bottom:33px;
			}
			span:last-child{
				font-family: "RobotoRegular";
				font-size: 16px;
				color: #797979;
			}
		}
		.ab-comform-wrap{
			margin-top:37px; 
			.ab-comform{
				.ab-text-area{
					border:1px solid #D0D0D0;
					border-radius:5px;
					resize: none;
					padding-top:5px;
					padding-left:5px;
					font-family: "RobotoRegular";
					font-size: 16px;
					height: 118px;
				}
			}
		}
		.ab-chekbos-title{
			font-family: "RobotoBold";
			font-size: 18px;
			padding-bottom:11px;
			text-align: center;
			padding-top:10px;
		}
		.ab-my-chekbox-wrap{
			width: 102px;
			height: 74px;
			margin:0 auto;
			.ab-chekbox-span{
				font-family: "RobotoRegular";
				font-size: 12px;
				color:#B1B1B1;
				padding-top: 11px;
			}
			.ab-my-chekbox{
				position:relative;
				.checkbox {
				    display: none;
				}
				.checkbox-custom {
				    position: relative;    
				    width: 31px;             
				    height: 30px;            
				    border: 2px solid #A18F8F;
				    background:none;
				    border-radius: 5px;
				    margin-top: 13px;
				}
				.checkbox-custom, .label {
				    display: inline-block;
				    vertical-align: middle;
				}
				.checkbox:checked + .checkbox-custom::before {
				    content: "";            
				    display: block;          
				    position: absolute;      
				    top: 4px;
				    right: 2px;
				    bottom: 2px;
				    left: 1px;
				    background: url(../img/ab-galka.png) no-repeat;
				    border-radius: 2px;
				}	
			}
			.ab-my-chekbox:after{
				position:absolute;
				content: "";
				top: 0;
				background: url(../img/ab-anim-1.png) no-repeat;
				width: 54px;
				height: 56px;
			}
			.ab-my-chekbox-2:after{
				position:absolute;
				content: "";
				top: 0;
				background: url(../img/ab-anim-2.png) no-repeat !important;
				width: 54px;
				height: 56px;
			}
			.ab-my-chekbox-3:after{
				position:absolute;
				content: "";
				top: 0;
				background: url(../img/ab-anim-3.png) no-repeat !important;
				width: 54px;
				height: 56px;
			}
		}
		.col-padding-left-0{
			padding-left:0;
		}
		.ab-last-block-comments-wrap{
			text-align: center;
			div{
				margin-top: 32px; 
			}
			padding-top:32px;
			.ab-last-block-txt{
				font-family: "RobotoBold";
				font-size: 18px;
			}
			.ab-last-block-input{
				.ab-in-put{
					border: 1px solid #D0D0D0;
					border-radius:5px;
					width: 226px;
					//width: 258px;
					height: 48px;
					padding-left:5px;
				}
			}
			.ab-last-block-button{
				a{
					display: inline-block;
					font-family: "RobotoBold";
					font-size: 24px;
					background:#FFC600;
					padding:8px 33px;
					color: #131313;
					border-radius:5px;
				}
			}
			.ab-last-block-txt-bottom{
				font-family: "RobotoRegular";
				font-size: 14px;
				color:#838383;
			}
		}
	}
}

/*================== Конец Отзывы ===============*/

/*================== Нижняя часть Хедер ===============*/


.header-bottom{
	width: 100%;
	//background:url(../img/big-bg.jpg) no-repeat  top center;
	background:url(../img/bg-new.jpg) no-repeat  top center;
	background-size: cover;
	padding-bottom: 50px;
	position: relative;
	.ab-div-logo{
		padding-right: 44px;
	    padding-top: 30px;
		img{
			margin: 0 auto; 
		}
	}
	.ab-top-txt{
		margin-top: 29px;
	    padding-bottom: 10px;
	    padding-right: 10px;
	    text-align: center;
		a:first-child{
			font-family: "RobotoBold";
			font-size: 14px;
			color:#2C3139;
		}
		a:last-child{
			font-family: "RobotoRegular";
			font-size: 14px;
			color:#2C3139;
			border-bottom: 1px dashed #2C3139;
			margin-left: 9px;
		}
	}
	.ab-top-right{
		margin-right: 3px;
	    margin-top: 20px;
	    text-align: center;
		span:first-child{
			font-family: "RobotoBold";
			font-size: 28px;
			color:#2C3139;
			display: block;
		}
		span:nth-child(2){
			font-family: "RobotoRegular";
			font-size: 14px;
			display: block;
			padding-top: 2px;
			padding-bottom:8px;
		}
		a{
			display: inline-block;
			font-family: "RobotoBold";
			font-size: 14px;
			text-transform: uppercase;
			padding:13px 9px;
			background:#FFC600;
			border-radius:5px;
			-moz-box-shadow: 0 11px 32px rgba(152,70,3,.42); /* drop shadow */
			-webkit-box-shadow: 0 11px 32px rgba(152,70,3,.42); /* drop shadow */
			box-shadow: 0 11px 32px rgba(152,70,3,.42); /* drop shadow */
			transition: 1s linear;
			color:black;
		}
		a:hover{
			background:#FFE21C;
		}
	}
	.ab-down{
		text-align: center;
		margin-top: 20px;
		//margin-top:200px;
		span{
			display: block;
			font-family: "RobotoBold";
			//font-size: 46px;
			font-size: 27px;
			text-transform: uppercase;
			padding-top:5px;
		}
		a{
			display: inline-block;
			font-family: "RobotoBold";
			//font-size: 20px;
			font-size: 10px;
			text-transform: uppercase;
			padding:17px 19px;
			background:#FFC600;
			border-radius:5px;
			-moz-box-shadow: 0 11px 32px rgba(152,70,3,.42); /* drop shadow */
			-webkit-box-shadow: 0 11px 32px rgba(152,70,3,.42); /* drop shadow */
			box-shadow: 0 11px 32px rgba(152,70,3,.42); /* drop shadow */
			transition: 1s linear;
			margin-top:18px;
			color:black; 

		}
		a:hover{
			background:#FFE21C;
		}
	}
}
.header-bottom:before{
	position: absolute;
	content: "";
	top: 0px;
	left: 0px;
	width: 100%;
	height:100%;
	//z-index: 6;
	background: rgba(#fff, 0.7);
}
.margin-l{
	margin-right: 0 !important;
	padding-right:0 !important;
}

/*=============== Конец Нижняя часть Хедер ===========*/

@media only screen and (min-width : 250px) {



}


@media only screen and (min-width : 320px) {

		
}

@media only screen and (min-width : 480px) {
	

	.search-box{
	    min-width: 375px;
	    .ab-first-input{
	    	position:relative;
	    }
	    .ab-first-input:after{
			width: 20px;
			height: 20px;
			top: 29px;
			right: 157px !important;
	    }

	    .ab-second-input:after{
			width: 19px;
			height: 20px;
			top: 29px;
			right: 157px !important;
	    }
	}


	.ab-pochemy-mi-title{
		span{
			font-size: 35px !important;
		}
	}
	.ab-text-area{
		width: 100%;
	}
	.ab-my-chekbox-wrap{
		float: left;
	}
	
	.ab-chekbos-title{
		text-align: left !important;
	}
	.ab-in-put{
		width: 258px !important;
	}
	.margin-left20{
		margin-left: 20px !important;
	}

}

@media only screen and (min-width : 768px) {

	.ab-top-txt {
	    padding-left: 0 !important;
	}
	.ab-pochemy-mi-title{
		span{
			font-size: 48px !important;
		}
	}
	
	
}

@media only screen and (min-width : 992px) {
	.header-bottom{
		background-size: unset !important;
		height: 964px;
	}
	.header-bottom:before{
		display: none;
	}
	
	.ab-pochemy-mi{
		text-align:center;
		padding-top:159px !important;
		background:url(../img/grey-bg.jpg) center;
	}

	.ab-pochemy-mi{
		text-align: left;
		.ab-pochemy-mi-img-box{
			float: left;
			margin-left: 79px;
		}
		.ab-pochemy-mi-txt{
			float: left;
		    padding-left: 26px;
		    padding-top: 11px;
		    width: 371px;
		}
	}
	.ab-medal{
		margin-top:62px !important;
		margin-bottom: 100px !important;
		padding-left:73px !important;
		
	}

	.vhod-bottom{
	    margin-bottom: 28px !important;
	    padding-top:30px !important;
	}
	.ab-zvonok{

	}    
	.ab-zvonok-button{
    	padding-top:29px !important;
    	text-align: center !important;
    }
    .ab-zvonok-title{
    	padding-right:45px;
    	padding-top:30px;
    	padding-bottom:26px;
		span{
			font-size: 48px;
		}
    }
   .ab-zvonok-tel{
   	padding-right:70px !important;
   	padding-top:0 !important;
   	padding-bottom: 40px !important;
   	margin-top: 20px !important; 
   		span{
			font-size: 48px !important;
		}
    }
    .ab-zvonok-tel-2{
		font-size: 36px !important;
		font-family: "RobotoRegular";
		color: #fff;
		padding-right:84px;
		padding-bottom:10px;
    }
    .ab-zvonok-tel-3{
		font-family: "RobotoRegular";
		font-size: 48px !important;
		color: #fff;
		padding-right:79px;
		padding-bottom:4px;
    }
    .ab-soc{
		padding-right:84px;
		//padding-bottom:40px;
    }
    .ab-otziv-title{
		text-align: center;
		span{
			font-size: 48px !important;
		}
	}
	.ab-comments-wrap{
		padding:50px 20px 50px 70px !important;
	}
	.ab-text-area{
		width: 552px;
	}
	.ab-comform-wrap{
		width: 552px;
		float: left;
	}
	.ab-chekbox-wrap{
		width: 464px;
		float: left;
		margin-left: 30px;
	    margin-top: 25px;
	}
	.ab-last-block-comments-wrap{
		text-align: left !important;
	}
	.ab-last-block-txt,	.ab-last-block-input, .ab-last-block-button{
		float: left;
	}
	.ab-last-block-input, .ab-last-block-button{
		padding-left:29px;
	}
	.ab-top-right{
		text-align: right !important;
		span:first-child{
			font-size: 30px !important; 
		}
	}
	.ab-top-txt{
		padding-top:25px !important;
	}
	.ab-down{
		margin-top: 350px !important;
		span{
			font-size: 46px !important;
		}
		a{
			font-size: 20px !important;
		} 
	}
	.search-box{
		padding-left:68px;
	}
	.ab-form{
		input[type="text"]{
			width: 358px !important;
		}
	}		
	.ab-down{
		padding-top: 240px !important;
		
	}
}

@media only screen and (min-width : 1248px) {
	.ab-down{
		padding-top: 220px !important;
		padding-left: 20px;
		a{
			margin-top: 37px !important; 
		} 
	}
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}