





			//========================PREIMYSHESTVA---------------------------

.clear{
	clear:both;
}
#zk-marginbot{
	// margin-bottom: 42px;
}
#zkmarginauto{
	margin: 0 auto;
}



.zk_caption{
font-size: 35px;
font-family: "RobotoBold";
color:#31343b;		
margin-top: 35px;
margin-bottom: 47px;
text-align: center;
letter-spacing: 0.04em;
}

.zk_pr_ph{
	margin-top: 48px;
	font-family: "RobotoRegular";
	font-size: 16px;
	color:#646464;				
	text-align: center;		
	padding-bottom: 15px;//65px;	
	//width:270px;		
	margin: 0 auto;
	div:last-child{padding:17px 12px 20px 12px; margin: 0 auto;}
	.zktext1{
		width: 250px;
	}
	.zktext2{
		width: 245px;
	}
	.zktext3{
		width: 165px;
	}
	.zktext4{
		width: 135px;
	}
	.zktext5{
		width: 190px;
	}
	.zktext6{
		width: 250px;
	}
	.zktext7{
		width: 340px;
		//margin-right: 20px !important;
	}    
	.zk-img-box{							
		height:141px;
		width:140px;				
		border:3px solid white;				
	    border-radius: 70px;
	    box-shadow: 0px 5px 15px rgba(red, 0.2);				
		margin: 0 auto;
		padding-bottom:20px;
		text-align: center;			
	}

}
.zk_pr_ph:last-child{
	//width: 340px;
}


								//VIVOZ---------------------------



.zk_vivoz{
	padding:50px 0px;
	font-size: 18px;
	font-family: "RobotoRegular";
	color:#646464;
	padding-bottom: 0px;		
	.zk_vivoz_caption{
		font-size: 27px;
		font-family: "RobotoBold";
		color:#31343b;
		display: inline-block;
		margin-bottom: 35px; //35
		text-align: left;
		margin-top: 35px;  //40
		margin-left: 14px;		
	}
	.zk_vivoz_man{		
		visibility: hidden;
		display: none;
	}	
	ul {		
		li{			
			line-height: 1.5em;
			padding-top: 14px;
			margin: 14px;
			background: url(..//img/zk_vivoz.png) center left no-repeat;
			padding-left: 40px;			
		}
		li:last-child{background: url(..//img/zk_vivoz.png) top 18px left no-repeat; }		
	}
}




					//WE_EXPORT-----------------------------------------------


.zk_we_export_all{	
	width:100%;	
		.zk_ex_caption{
		font-size: 33px;
		color:#212121;
		margin-top: 50px;
		font-family: "RobotoBold";
		text-align: center;		
		margin-bottom: 20px;		
	}	
	.zk_export_one{
		float:left;		
		color:#31343b;
		font-size: 16px;
		font-family: "RobotoBold";
		text-align: center;		
		width:100%;		
		height:240px;		
		
		.zk_img_ex_box{
			height:185px;			
			vertical-align: middle;
			margin-bottom: 9px;			
			 img{
				//width: 190px;
			}
		}		
	}	
}
 




@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
	.zk_export_one{
		width: 50% !important;		
	}
}

@media only screen and (min-width : 768px) {
	.zk_caption{
		font-size:40px !important;
	}
	.zk_vivoz_caption{
		text-align: left !important;
	}
	.zk_we_export_all{			
		.zk_ex_caption{
			font-size: 48px !important; 		
		}
		.zk_export_one{
			width: 33.2% !important;		
		}		
	}	
}

@media only screen and (min-width : 992px) {
	#zk-marginbot{
		margin-bottom: 42px;
	}
	#zk-marginleft{
		margin-left: 40px;
		padding-right: 0px;
		margin-right: -40px;
	}
	#zk-marginright{
		margin-right: 40px;
		padding-left: 0px;
		margin-left: -40px;
	}
	.zk_caption{						
		font-size:45px !important;				//<<<<<<<preim>>
		margin-top: 110px;
	}
	.zk_pr_ph{
		padding-bottom: 43px;//65px;	
	}



	.zk_vivoz{
		//padding-bottom: 50px;			
		.zk_vivoz_caption{
			font-size: 45px !important;			
			text-align: left;
			margin-top: 25px !important;
			margin-bottom: 20px !important;
			font-size: 33px;			
			margin-left: 14px;				
		}
		.zk_vivoz_man{
			float:left;
			width:225px;
			height:549px;
			text-align: center;
			background-image: url(..//img/zk_vivoz_man.png) no-repeat;
			visibility: visible !important;
			display: inline-block !important;
			margin-right:38px !important;	//10px			
		}
		.first_v{
			float:left;
			width:40%;
		}
		.second_v{
			float:left;
			width:30%;
		}
		ul {		
			//padding-right: 55px;		
		}
	}
	#zk-1,#zk-2{
		margin-top: 4px;		
	}				
}

@media only screen and (min-width : 1248px) {
								//========PREIMYSHESTVA============
	.zk_preim_all{
			
		.zk_caption{
			font-size:48px !important;
		}		
		
	}
						//=======================VIVOZ===========
	.zk_vivoz{				
		.zk_vivoz_caption{
			font-size: 48px !important;
			margin-top: 40px !important;
			margin-bottom: 22px !important;									
		}
		.zk_vivoz_man{
			// float:left;			
			// background-image: url(..//img/zk_vivoz_man.png) no-repeat;
			// visibility: visible !important;
			// display: inline-block !important;
			// //margin-right:24px !important;			
			// text-align: center;					
		}
		.first_v{
			float:left;
			width:42%;
		}
		.second_v{
			float:left;
			width:33%;
		}
		ul {		
			//padding-right: 55px;		
		}
	}
				//=========================WE_EXPORT=======
	.zk_we_export_all{		
		.zk_ex_caption{
			font-size: 48px !important;
			margin-bottom: 0px !important;		
		}
		.zk_export_one{
			width:20% !important;
		}
		.zk_first_child{
			width:150px;
			margin-left: 35px;
		}	
	}																
}






.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}								